* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: aqua;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 1000px;
}


.intro-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.intro {
    flex: 1; 
    max-width: 50%;

}

.intro h1 {
    color: aqua;
    margin-bottom: 20px;
}

.intro p {
    margin-bottom: 15px;
    color: #333;
}


.intro-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.4;
}

.link-box {
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: 2px solid aqua;
    transition: background-color 0.3s ease;
}

.link-box a {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.link-box:hover {
    background-color: aqua;
}

.link-box:hover a {
    color: white;
}